.form-group
  .row
    .col-lg-5.col-lg-push-1
      .row
        p Ime:
        textarea(style='width: 50%; height: 2em; resize: none;')
      .row 
        p Prezime:
        textarea(style='width: 50%; height: 2em;  resize: none;')
      .row
        p Telefon:
        textarea(style='width: 50%; height: 2em; resize: none;')
      .row
        p JMBG:
        textarea(style='width: 50%; height: 2em; resize: none;')
    .col-lg-5
      h4 Sposobnosti
      .row
        .col-lg-6
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Fizicka snaga
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Plivac
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Staratelj
        .col-lg-6
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Vozac
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Agilan
    .col-lg-1
  .row
    .col-lg-5.col-lg-push-1
      h4 Onemogucenosti
        .row
          .col-lg-6
            .checkbox.disabled
              label
                input(type='checkbox', value='')
                | Invalid
            .checkbox.disabled
              label
                input(type='checkbox', value='')
                | Hronicni Bolesnik
            .checkbox.disabled
              label
                input(type='checkbox', value='')
                | Drugo stanje
          
        .row
          .col-lg-6
            h4 Krvna Grupa
            .radio
              label
                input(type='radio', name='optradio')
                | A
            .radio
              label
                input(type='radio', name='optradio')
                | B
            .radio
              label
                input(type='radio', name='optradio')
                | AB
            .radio
              label
                input(type='radio', name='optradio')
                | O
          .col-lg-6

    .col-lg-5
      h4 Jezici
      .row
        .col-lg-6
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Srpski
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Engleski
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Francuski
        .col-lg-6
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Arapski
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Nemacki
          .checkbox.disabled
            label
              input(type='checkbox', value='')
              | Italijanski
    .col-lg-1