.label.glyphicon { 
    margin-right:5px; 
}

body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F5F8FA;
}

<<<<<<< HEAD
a:hover {
  color: #F7690A;
=======
a {
  color: #00B7FF;
>>>>>>> efd97efc9e5a9714fb7f52ba59c7b48ed6bad199
}

.card {
  border-radius: 3px;
  border: 1px solid #E1E8ED;
  background: #FFF;
}

<<<<<<< HEAD
.card-bottom {
  margin: 10px 0px 10px 0px;
}

.card-paragraph {
  margin-left: 6px;
  margin-right: 6px;
}

.bottom-border {
  border-top: 1px solid;
  border-color: #E1E8ED;
  margin-bottom: 30px;
}

.location-a {
  color: #8899A6;
}

/* custom! */
.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
=======

.content {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    position: relative;
    z-index: -1;
}

.label,.glyphicon { margin-right:5px; }
>>>>>>> efd97efc9e5a9714fb7f52ba59c7b48ed6bad199
