extends layout

block content
    .content
        .col-lg-offset-2.col-lg-8
            form.form-group.card(role='form', action='/newevent', method='POST')
                .row
                    .col-lg-5.col-lg-push-1
                        .row
                            p Naziv:
                            input(name='name' type='text' style='width: 50%; height: 2em; resize: none;')
                        .row
                            p Opis:
                            input(name='description' type='text' style='width: 50%; height: 2em;  resize: none;')
                    .col-lg-5
                        h4 Zahtevane sposobnosti
                        .row
                            .col-lg-6
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Fizicka snaga
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Plivac
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Staratelj
                            .col-lg-6
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Vozac
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Agilan
                    .col-lg-1
                .row
                    .col-lg-5
                        h4 Jezici
                        .row
                            .col-lg-6
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Srpski
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Engleski
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Francuski
                            .col-lg-6
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Arapski
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Nemacki
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Italijanski
                    .col-lg-1
                .row
                    input.slider(type='number', name='urgency', data-provide='slider', data-slider-ticks='[1, 2, 3, 4]', data-slider-ticks-labels='["arising", "rekindling", "urgent", "critical"]', data-slider-min='1', data-slider-max='4', data-slider-step='1', data-slider-value='3', data-slider-tooltip='hide')
                .row
                    p Potrebno ljudi:
                    textarea(style='width: 50%; height: 2em;  resize: none;')
                .row
                    input.btn.btn-default.pull-right(type='submit', name='submit' value='Postavi') 
