extends layout

block content
    .content
        .col-lg-offset-2.col-lg-8
            form.card(role='form', action='/newevent', method='POST', style='padding: 20px 20px;')
                .row
                    .col-lg-8
                        h4 Informacije o volonterskoj akciji
                        .form-group
                            label(for='name') Naziv:
                            input.form-control(name='name' type='text')
                        .form-group
                            label(for='description') Opis:
                            textarea.form-control(name='description', rows='3', placeholder='Dodatne informacije...')
                        .form-group
                            label(for='location') Lokacija:
                            input.form-control(name='location' type='text')
                .row
                    .col-lg-6
                        h4 Zahtevane sposobnosti:
                        .form-group
                            .col-lg-6
                                .checkbox
                                    label
                                        input(name='power' type='checkbox', value='')
                                        | Fizicka snaga
                                .checkbox
                                    label
                                        input(name='swim' type='checkbox', value='')
                                        | Plivac
                                .checkbox
                                    label
                                        input(name='nanny' type='checkbox', value='')
                                        | Staratelj
                            .col-lg-6
                                .checkbox
                                    label
                                        input(name='driver' type='checkbox', value='')
                                        | Vozac
                                .checkbox
                                    label
                                        input(name='agile' type='checkbox', value='')
                                        | Agilan
                    .col-lg-6
                        h4 Jezici:
                        .form-group
                            .col-lg-6
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Srpski
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Engleski
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Francuski
                            .col-lg-6
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Arapski
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Nemacki
                                .checkbox
                                    label
                                        input(type='checkbox', value='')
                                        | Italijanski
                .row(style="margin-top: 20px")
                    .col-lg-6
                        .form-group
                            .col-lg-6
                                label(for='urgency') Hitnost
                                input.slider.form-control(type='number', name='urgency', data-provide='slider', data-slider-ticks='[0, 1, 2, 3]', data-slider-ticks-labels='["Niska", "Srednja", "Visoka", "Kriticna"]', data-slider-min='1', data-slider-max='4', data-slider-step='1', data-slider-value='3',  data-slider-tooltip='hide')
                    .col-lg-61
                        .form-group.pull-left
                            label(for='required_manpower') Potrebno ljudi:
                            input.form-control(name='required_manpower', type='number')
                .row
                    input.btn.btn-default.pull-right(type='submit', name='submit' value='Postavi') 
